{% extends "search/base.html" %}
 
{% block title %}
About
{% endblock %}

{% block content %}
{% load static %}

<br>
<div class="jumbotron heavy-rain-gradient">
  <div class="container">
      <h3>Welcome, here is</h3>
        <h1 class="display-4">Matadata-based Search Engine Project</h1>
            <div class="card">
                <div class="card-body">
                E-commerce platforms are growing at an unprecedented speed all
                over the globe, so are the varieties of products. In order to make
                rational decisions and buy good quality products, shoppers tend
                to spend hours searching for ideal items, reading descriptions, and
                especially reading other shoppers’ reviews, which implies that the
                ranking algorithms sometimes cannot provided them with satisfied
                results. Even worse, when shoppers do not have a clear idea on
                what they need, their descriptive query might not guarantee them
                with ideal products. As a result, aiming to improve user shopping
                experience, we decide to build a search engine, Mega, that would
                search for products based on their titles, ratings, descriptions, and
                especially shoppers’ reviews. Different weights will be given to
                these aspects, and a relevancy score based on bag-of-words matching
                will be used to determine the final ranking. Besides, relevant
                reviews will also be displayed beside the products to make the
                ranking more reasonable. If time allows, we would also implement
                sentence-level sentiment analysis and topic model to improve the
                evaluation of relevancy score.
                </div>

                <a href="/"><button class="btn peach-gradient" type="submit">Back to home</button></a>
                </h1>

                <hr class="my-4">
                <div class="card shadow-none">
                <h1>Contributors</h1>
                <div class="row">
                  <div class="column">
                    <div class="card">
                        <div class="avatar">
                            <img src="{% static 'images/cty.jpg' %}"
                                alt="face">
                        </div>
                      <h2>Tianyang </h2>
                      <h2>Chen</h2>
                      <h5>tc7nz@virginia.edu</h5>

                      </div>
                  </div>
                  <div class="column">
                    <div class="card">
                        <div class="avatar">
                            <img src="{% static 'images/lcl.jpg' %}"
                                alt="face">
                        </div>
                        <h2>Chenlin</h2>
                        <h2>Liu</h2>
                      <h5>cl2trg@virginia.edu</h5>
                      </div>
                  </div>
                  <div class="column">
                    <div class="card">
                        <div class="avatar">
                            <img src="{% static 'images/wmc.jpg' %}"
                                alt="face">
                        </div>
                      <h2>Veronique</h2>
                        <h2>Wang</h2>
                      <h5>mw5ew@virginia.edu</h5>
                      </div>
                  </div>
                  <div class="column">
                    <div class="card">
                        <div class="avatar">
                            <img src="{% static 'images/wzt.jpg' %}"
                                alt="face">
                        </div>
                      <h2>Zetao</h2>
                      <h2>Wang</h2>
                      <h5>zw3hk@virginia.edu</h5>
                      </div>
                  </div>
                </div>
                </div>

  </div>
</div>
{% endblock %}