{% extends "search/base.html" %}
 
{% block title %}
Index
{% endblock %}

{% block content %}
<br>
<div class="jumbotron">
  <div class="container">
      <h3>Welcome, here is</h3>
        <h1 class="display-4">Matadata-based Search Engine Project</h1>
            <div class="card">
                <div class="card-body">
                    This is some text within a card body.sadkbasdjo;asbd dbajsl;dba;lsdba;sljdhbasiodbad;oiabdo;iasbdousbbxzklmblm;dbaspioudgadoibdcljsbfpouasgdasdsdasdasafdslvghnodfhandfynapo8ynapdypa8yapfcpfydhio[dgndpouifgghadofnlckpzncuiaswdegfuopahfioa
                </div>
            </div>
            <a href="/search">
            <button class="btn peach-gradient" type="submit">go to search page</button></a>
        </h1>
                <hr class="my-4">
                <p><h5> or <a href="/about">Learn more about this project</a></h5></p>
  </div>
</div>
{% endblock %}



