{% extends "search/base.html" %}

{% load static %}
{% load my_tags %}
 
{% block title %}
Results
{% endblock %}

{% block content %}

    <div id="content" style="display: flex; flex-direction: row; padding: 64px 128px 0 128px;  ">
        <div class="left">
            <img src="{{ item.image }}" class="product-image-item ">
            <h4>{{item.title|highlight_search:query}}</h4>
              <a target="_blank" href="https://www.amazon.com/dp/{{ item.asin}}">{{ item.asin}}</a>
        </div>
        <div class="right" style="display: flex; flex-direction: column;">
            <div class="projects" style="padding: 0px">
                <h3>Product Description</h3>
                <div class="projects_data" style="padding: 0px">
                <div >{{item.description|highlight_search:query}}</div>
                </div>
            </div>

            <div class="projects" style="padding: 0px">
                <h3>Product Reviews</h3>
                {% for review in reviews %}
                <h5> Rating: {{ review.rating }} </h5>
                <div class="projects_data" style="padding: 0px">
                <div > {{ review.content | highlight_search:query}}</div>
                </div>
                <hr>
                {% endfor%}
            </div>
                <a href="/search"><button class="btn aqua-gradient float-right"  > back to search page</button></a>
        </div>
    </div>


          <style>
              @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
              @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
              @import url('https://fonts.googleapis.com/css?family=Calibri:400,400i,500,500i,700,700i');

            *{
              margin: 0;
              padding: 10px;
              box-sizing: border-box;
              list-style: none;
              font-family: 'calibri', sans-serif;
            }

            body{
               background-color: #f3f3f3;
            }

            .wrapper{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              width: 1500px;
              display: flex;
              box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
            }

            .wrapper .left{
              width: 50%;
              background: #FFFFFF;
              padding: 30px 25px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              text-align: center;
              color: #fff;
            }

            .wrapper .left img{
              border-radius: 5px;
              margin-bottom: 10px;
            }

            .wrapper .left h4{
              margin-bottom: 10px;
              color: #000000;
            }

            .wrapper .left p{
              font-size: 12px;
            }

            .wrapper .right{
              width: 65%;
              background: #fff;
              padding: 30px 25px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            .wrapper .right .info,
            .wrapper .right .projects{
              margin-bottom: 25px;
            }

            .wrapper .right .info h3,
            .wrapper .right .projects h3{
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid #e0e0e0;
                color: #353c4e;
              text-transform: uppercase;
              letter-spacing: 5px;
            }

            .wrapper .right .info_data,
            .wrapper .right .projects_data{
              display: flex;
              justify-content: space-between;
            }

            .wrapper .right .info_data .data,
            .wrapper .right .projects_data .data{
              width: 45%;
            }

            .wrapper .right .info_data .data h4,
            .wrapper .right .projects_data .data h4{
                color: #353c4e;
                margin-bottom: 5px;
            }

            .wrapper .right .info_data .data p,
            .wrapper .right .projects_data .data p{
              font-size: 13px;
              margin-bottom: 10px;
              color: #919aa3;
            }

            .wrapper .social_media ul{
              display: flex;
            }

            .wrapper .social_media ul li{
              width: 45px;
              height: 45px;
              background: linear-gradient(to right,#01a9ac,#01dbdf);
              margin-right: 10px;
              border-radius: 5px;
              text-align: center;
              line-height: 45px;
            }

            .wrapper .social_media ul li a{
              color :#fff;
              display: block;
              font-size: 18px;
            }
        </style>
{% endblock %}


