{% extends "search/base.html" %}
 
{% block title %}
Search
{% endblock %}

{% block content %}

<div id="page-container">
<div id="content-wrap">
<div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-12 bg-grey p-3">
        <div class="jumbotron border shadow">           
            <div>
            <form method=POST action="{% url 'result' %}#results" class="form-inline mr-auto" style="display: flex; flex-direction: column; ">
                    {% csrf_token %}
                    <input  class="form-control form-control-lg" type="text" placeholder="Search" aria-label="Search" name="query" id="query" style="max-width: 600px; width:100%">
                    <div class="float-right" style="display: flex; flex-direction: row; justify-content: center;">
                        <input  class="btn aqua-gradient" type="submit" name ="none" value="none" >
                        <input  class="btn young-passion-gradient" type="submit" name ="bm25_title" value="bm25_title" >
                        <input  class="btn peach-gradient" type="submit" name ="bm25_combine_later" value="bm25_combine_later" >
                        <input  class="btn dusty-grass-gradient" type="submit" name ="senti_BM25" value="senti_BM25" >
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>  
{% endblock %}







