{% extends "search/base.html" %}
 
{% block title %}
Search
{% endblock %}

{% block content %}
<div id="page-container">
<div id="content-wrap">
<div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-12 bg-grey p-3">
        <div class="jumbotron border shadow">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <div class="mb-3">
                        <form method=POST action="{% url 'result' %}" class="form-inline mr-auto">
                            {% csrf_token %}
                            <input class="form-control form-control-lg" type="text" placeholder="Search" aria-label="Search" name="query" id="query" size="49">
                            <input  class="btn btn-outline-success my-2 my-sm-0" type="submit" name ="none" value="none" >
                            <input  class="btn btn-outline-success my-2 my-sm-0" type="submit" name ="BM25" value="BM25" >
                            <input  class="btn btn-outline-success my-2 my-sm-0" type="submit" name ="BM25_ALL" value="BM25_ALL" >
                            <input  class="btn btn-outline-success my-2 my-sm-0" type="submit" name ="senti_BM25" value="senti_BM25" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>  
{% endblock %}







